@{
    ViewData["Title"] = "Home Page";
}
@model Asp__Sql.Models.IndexViewModel


<partial name="UserInformation" model="Model.userInfro" />

<form id="filterForm" asp-controller="Home" asp-action="Index">
    <div>
        <input type="text" name="Name" value="@Model.Name" onchange="SubmitForm()" />

        <div>
            <select name="ClassId" onchange="SubmitForm()">
                <option value="0">Any</option>

                @foreach (var item in Model.classes)
                {
                    @if (item.Id == Model.ClassId)
                    {
                        <option value="@item.Id" selected>@item.ClassName</option>
                    }
                    else
                    {
                        <option value="@item.Id">@item.ClassName</option>
                    }
                }


            </select>
        </div>
    </div>
    <div>
        <button type="submit">Search</button>
    </div>
</form>


<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Class Name</th>
        </tr>
    </thead>
    <tbody id="listTableBody">
        @foreach (var student in Model.Students)
        {
            <tr>
                <td>@student.Name</td>
                <td>@student.ClassName</td>
            </tr>
        }
    </tbody>
</table>